*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    color: white;
    background-color: black;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #f7f7f7;
}

#nav{
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#nav-part1{
    /* background-color: red; */
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg{
    display: block;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#nav-part2 .links a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 14px;
   margin: 0px 20px;
    text-transform: uppercase;
}

.links{
    padding: 10px;
}

#nav-part2 .icons i{
    font-size: 18px;
    font-weight: 100;
    margin: 0px 20px;
}

.icons{
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 50px;
}

#cursor{
    height: 150px;
    width: 150px;
    background-color: rgb(239, 215, 179);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
}

#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 1vw;
    padding-top: 20vh;
}

#page1 h1{
    font-size: 15.8vw;
    font-family: futura;
    text-transform: uppercase;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container{
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    position: relative;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play{
    padding: 1.8vw 1vw;
    background-color: black;
    color: white;
    font-size: 1.3vw;
    font-family: futura;
    position: fixed;
    border-radius: 50%;
    /* transform: translate(-50%,-50%); */
    opacity: 0;
    scale: 0;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#page-2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 1vw;
}

#page-2 .elem{
    height: 100%;
    width: 31%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
}

#page-2 .elem .dets{
    height: 60px;
    width: 80%;
    position: absolute;
    background-color: #F5DFCF;
    border-radius: 50px;
    z-index: 9;
}

#page-2 .elem .dets:hover{
    height: 300px;
}

#page-2 .elem .dets .shopping{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.shopping h4{
    text-transform: uppercase;
    font-family: futura;
    font-size: 13px;
    font-weight: 100;
    color: #857970;
}

.shopping h3{
    text-transform: uppercase;
    font-family: futura;
    font-weight: 100;
    font-size: 13px;

}

#page-2 .elem .dets .images{
    height: 150px;
    width: 150px;
    background-color: red;
    opacity: 0;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------*/

#page-3{
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.child{
    height: 54vh;
    width: 38vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img{
    height: 100%;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------*/

#page-4{
    min-height: 70vh;
    width: 100%;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

#page-4 .para{
    font-size: 4.5vw;
    font-family: futura;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Responsive code:- */
@media (max-width:600px) {

    #nav {
        /* height: 100px; */
        width: 100%;
        /* background-color: burlywood; */
        position: fixed;
        z-index: 99;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;
    }

    #nav #nav-part2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .links {
        padding: 10px;
        display: none;
    }

    #nav-part1 {
        /* background-color: RED; */
        height: 67px;
        overflow: hidden;
    }

    #nav-part1 svg {
        display: block;
        height: 67px;
        width: 80px;
    }
    #nav #twogoodlogo{
        height: 40px;
        margin-left: -20px;
    }

    .icons {
        padding: 7px;
        border-radius: 50px;
        background-color: #F7F7F7;
    }

    #nav-part2 .icons i {
        font-size: 15px;
        margin: 0 20px;
        font-weight: 100;
    }

    #page1 {
        /* background-color: red; */
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;

    }

    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    #video-container {
        height: 25vh;
        margin-top: 3vw;
    }

    #video-container #play {
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
    }

    #page-2 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 5vw 3vw;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: red; */
    }

    #page-2 .elem {
        height: 100vh;
        width: 100%;
        /* background-color: red; */
        overflow: hidden;
        margin-bottom: 3vw;
    }

    #page-2 .elem .dets {
        height: 40px;
        border-radius: 50px;
        width: 70%;
        position: absolute;
        z-index: 9;
    }

    #page-3 {
        min-height: 120vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .child {
        height: 54vh;
        width: 88vw;
        /* background-color: red; */
        /* border: 2px solid #000; */
        position: relative;
        padding: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .child img {
        height: 100%;
    }

    #page-2 .elem .dets .shopping{
        height: 40px;
    }

}